*.js linguist-detectable=true
*.jsx linguist-detectable=false
*.css linguist-detectable=true
*.html linguist-detectable=true
/frontend/src/** linguist-detectable=false
/frontend/node_modules/** linguist-detectable=false
*.json linguist-detectable= true
*.java linguist-detectable=true